.App {
    font-family: sans-serif;
    text-align: center;
  }

  /* Navbar */
  .navbar {
    background-color: antiquewhite;
    margin: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: transparent;
  }

  .nav-item {
      font-size: 25px;
      padding: 10px;
      justify-content: space-around;
      color: #FF5846;
      padding: none;
      transition: .5s;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
  }

  .nav-item:hover {
    font-size: 25px;
    color: #420c09;
    text-decoration: none;
    transition: .5s;
}

  .navList-container {
    justify-content: space-around;
    white-space:nowrap;
  }

  li {
    display:inline; 
  }

  .logoImage {
      width: auto;
      height: 200px;
  }
  
  img {
    font-size: 0px;
    top: 0px;
    width: 1350px;
    height: 900px;
    position: relative;
  }


.slide-container {
    display: block;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 0;
    margin: 0;
    background-color: antiquewhite;
    border-bottom: none;
}

/* This is the arrow icons for the slideshow */
path,
svg,
.nav {
    visibility: hidden;
}

.sliderImage {
    height: 150%;
    width: 100%;
    object-fit: cover;
    position: sticky;
    min-height: -webkit-fill-available;
}

/* This is the image container */
.imageContainer {
    background-size: cover; /* Resize the background image to cover the entire container */
    font-size: 0px;
    /*left: -200.865px;
    top: 0px;
    width: 1349.73px;
    */
    height: 900px;
    position: relative;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */
}

/* About section */
.about-section {
    background-color:  antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

.about-text {
    text-align: center;
    font-weight: 500;
}

.container {
    padding-top: 30rem;
    padding-bottom: 30rem;
}

.stephImage {
    border-radius: 50%;
    height: 350px;
    width: auto;
}

.stephContainer {
    align-self: center;
    text-align: center;
}

.row {
  justify-content: center;
}

/* Pricing Page */
.card-deck {
  justify-content: center;
}

.card {
  background: transparent;
  border: none;
  /*padding-bottom: 5px */
}

.card-contact {
  padding-bottom: 100%;
}

.card-img-top {
  height: 60%;
  width: 100%;
  object-fit: cover;
  position: relative;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.7);

}

.price-container {
  padding-top: 25rem;
  background-color: #900603;
  color: white;
}

.card-title {
  font-size: 20px;
}

.card-text {
  font-size: 15px;
}

.card-body {
  text-align: center;
}

/* contact page */
.iconPic {
  justify-content: space-around;
  padding: 25px;
}

.fa-instagram {
  color: white;
  transition: .5s;
}

.fa-facebook-square {
  color: white;
  transition: .5s;
}

.fa-envelope-open-text {
  color: white;
  transition: .5s;
}

.fa-instagram:hover {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.fa-facebook-square:hover {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.fa-envelope-open-text:hover {
  color: black;
  text-decoration: none;
  transition: .5s;
}

.social-container {
  padding-top: 5rem;
}

.email-container {
  padding-top: 5rem;
}

@media only screen and (max-width: 1400px) {
  .card-image-top {
    height: 60%;
  }
}

@media only screen and (max-width: 780px) {
    .logoImage {
        width: auto;
        height: 100px;
    }
  }

  @media only screen and (max-width: 760px) {
    .nav-item {
        font-size: 19px;
        text-decoration: none;
    }
  }

  @media only screen and (max-width: 760px) {
    .nav-item:hover {
        font-size: 19px;
        color: #E74C3C;
        text-decoration: none;
        transition: 2s;
    }
  }

  @media only screen and (max-width: 465px) {
    .nav-item {
        transition: none;
        text-decoration: none;
        display: block;
        margin-right: 0.4em;

    }
  }

@media only screen and (max-width: 600px) {
    .logoImage {
        width: auto;
        height: 100px;
    }
  }

  @media only screen and (max-width: 512px) {
    .logoImage {
        width: auto;
        height: 50px;
        transition: none;
    }
  }
  

  @media only screen and (max-width: 600px) {
    .about-text {
        padding-top: 30px;
    }
  }