.App {
    font-family: sans-serif;
    text-align: center;
  }

  /* Navbar */
  .navbar {
    background-color: antiquewhite;
    margin: inherit;
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: transparent;
  }

  .logoImage {
      width: auto;
      height: 365px;
  }
  
  img {
    font-size: 0px;
    top: 0px;
    width: 1350px;
    height: 900px;
    position: relative;
  }


.slide-container {
    display: block;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 0;
    margin: 0;
    background-color: antiquewhite;
    border-bottom: none;
}

/* This is the arrow icons for the slideshow */
path,
svg,
.nav {
    visibility: hidden;
}

.sliderImage {
    height: 150%;
    width: 100%;
    object-fit: cover;
    position: sticky;
    min-height: -webkit-fill-available;
}

/* This is the image container */
.imageContainer {
    background-size: cover; /* Resize the background image to cover the entire container */
    font-size: 0px;
    /*left: -200.865px;
    top: 0px;
    width: 1349.73px;
    */
    height: 900px;
    position: relative;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); */
}

/* About section */
.about-section {
    background-color:  antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

.about-text {
    text-align: center;
    font-weight: 500;
}

.container {
    padding-top: 30rem;
    padding-bottom: 30rem;
}

.stephImage {
    border-radius: 50%;
    height: auto;
}

.stephContainer {
    align-self: center;
}


@media only screen and (max-width: 600px) {
    .logoImage {
        width: auto;
        height: 200px;
    }
  }

  @media only screen and (max-width: 300px) {
    .logoImage {
        width: auto;
        height: 150px;
    }
  }
  

  @media only screen and (max-width: 600px) {
    .about-text {
        padding-top: 30px;
    }
  }